*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.right,
.left {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    background-color: rgb(92, 88, 88);
}

.right {
    height: 1000px;
}

p {
    background-color: rgb(136, 24, 24);
}

p.sticky {
    background-color: rgb(39, 146, 25);
    position: sticky;
    top: 10px;
}