*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(207, 198, 186);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1000px;
    margin: auto;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.psevdo {
    padding: 20px 0;
}

.psevdo__item {
    margin-bottom: 30px;
}

.psevdo__title {
    padding: 20px 0;
    border-bottom: 2px dashed black;
    margin-bottom: 20px;
}

.psevdo_subtitle {
    margin-bottom: 10px;
}

.hover-block {
    display: inline-block;
    padding: 40px;
    background-color: brown;
}

.hover-block__link {
    color: aliceblue;
    text-decoration: none;
    font-size: 40px;
}

.hover-block__link:hover {}

.hover-block:hover .hover-block__link {
    visibility: hidden;
}

.visited-block__link {
    color: black;
    font-size: 25px;
}

.visited-block__link:visited {
    color: green;
}

.last-child-block__item {
    width: 200px;
    background-color: darkcyan;
    padding: 20px;
    display: inline-block;
    margin: 0px 20px 20px 0px;
}

.last-child-block__item:last-child {
    background-color: blue;
}

.nth-child-block p:nth-child(3) {
    background-color: red;
}

.example-1__item {
    color: rgb(17, 182, 119);
    font-size: 20px;
    text-decoration: none;
    padding: 0px 15px;
    border-right: 2px solid black;
}

.example-1__item::first-of-type {
    padding-left: 0px;
}

.example-1__item::last-of-type {
    padding-right: 0px;
}

.example-2 {
    font-size: 0px;
}

.example-2__item {
    width: 10%;
    height: 60px;
    background-color: black;
}

.example-2__item:nth-child(even) {
    background-color: aliceblue;
}

.first_line_block::first-line {
    color: red;
    font-size: 30px;
}

.first_letter_block p::first-letter {
    color: red;
    font-size: 30px;
}

.before_example_1 p::before,
.before_example_1 p::after {
    content: "cлово";
    color: red;
    font-size: 10px;
}

.before_example_2 p {
    display: inline-block;
}

.before_example_2 p::before,
.before_example_2 p::after {
    display: block;
    content: "cлово";
    color: red;
    font-size: 10px;
    text-align: center;
}

.before_example_3 li {
    list-style-type: none;
    cursor: pointer;
}

.before_example_3 li:hover::before {
    content: "\27A4";
    margin-right: 8px;
}

.before_example_4 a,
.before_example_5 a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

.before_example_4 a::before {
    content: url(leptop.jpeg);
    height: 10%;
}

.before_example_5 a::before {
    content: "";
    display: inline-block;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-image: url(leptop.jpeg)
}

.before_example_6 a {
    text-align: center;
    line-height: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: rgb(94, 112, 53);
    padding-left: 20px;
    border: 4px solid red;
}

.before_example_6 a::after {
    content: "\279C";
    display: inline-block;
    background-color: greenyellow;
    width: 90px;
    height: 90px;
    margin-left: 20px;
    border-left: 4px solid;
}

.before_example_7 a {
    font-size: 40px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: ease-in-out 5s;
}

.before_example_7 a::after {
    background-color: black;
    content: " ";
    display: block;
    height: 5px;
    width: 0%;
    transition: ease-in-out 1s;
    opacity: 0;
}

.before_example_7 a:hover {
    transform: scale(1.3);
    transform: rotate(360deg);
}

.before_example_7 a:hover::after {
    opacity: 1;
    width: 75%;
    background-color: orange;
}